﻿@model InterviewOfOneSoftLimited.Models.ViewModel.PersonInfoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Page</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-envelope"></span> Personal Information</h4>
    </div>
    <div class="panel-body">
        <div class="container" style="width:900px">
            @using (Html.BeginForm("Create", "PersonInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })<span class="text-danger">*</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryId, "Country", htmlAttributes: new { @class = "control-label col-md-2" })<span class="text-danger">*</span>
                        <div class="col-md-10">
                            @Html.DropDownList("CountryId", null, "Select Country", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger", id = "CountryMessage" })
                            @*<span id="CountryMessage" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CityId, "City", htmlAttributes: new { @class = "control-label col-md-2" })<span class="text-danger">*</span>
                        <div class="col-md-10">
                            <select name="CityId" id="CityId" class="form-control" disabled="disabled">
                                <option value="" selected="selected">Select City</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Languages, "Language Skills", htmlAttributes: new { @class = "control-label col-md-2" })<span class="text-danger">*</span>
                        <input type="hidden" id="hobbies" name="hobbies" value="hobbies" />
                        <div class="col-md-10">
                            @foreach (var i in Model.Languages)
                            {
                                <input id="@(i.LanguageId)"
                                       type="checkbox"
                                       value="@i.LanguageId" />
                                @i.LanguageName<span>&nbsp;&nbsp;&nbsp;</span>
                            }
                            <br />
                            @Html.ValidationMessageFor(model => model.Languages, "", new { @class = "text-danger", id = "validationMessage" })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfBirth, "Date Of Birth", htmlAttributes: new { @class = "control-label col-md-2" })<span class="text-danger">*</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Resume, htmlAttributes: new { @class = "control-label col-md-2" })<span class="text-danger">*</span>
                        <div class="col-md-10">
                            <input name="Resume" type="file" accept="image/pdf,doc" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Resume, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="col-md-5 pull-right">
                                <a href="@Url.Action("Index")" class="btn btn-default pull-left">Cancel</a>
                            </div>
                            <div class="col-md-5 pull-right">
                                <input type="submit" value="Save" class="btn btn-success pull-right" id="btnCreate"  />
                            </div>

                        </div>
                    </div>
                </div>
            }

            @*<div>
                    @Html.ActionLink("Back to List", "Index")
                </div>*@
        </div>
    </div>
    <div class="panel-footer"></div>
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var sList = [];
            $("#CountryId").change(function () {
                var c = $(this).val();
                if (c == "") {
                    $("#CityId").empty();
                    $("#CityId").append("<option value='' selected='selected'>Select City</option>")
                        .attr("disabled", "disabled");
                    return;
                }
                else {
                    $("#CityId").empty();
                    $.ajax({
                        type: "GET",
                        url: "/PersonInfo/GetEmps?CountryId=" + c,
                        dataType: "json",
                        success: function (result) {
                            // console.log(result);
                            for (var i = 0; i < result.length; i++) {
                                $("#CityId").append("<option value='" + result[i].CityId + "'>" + result[i].CityName + "</option>")
                            }
                        }
                    });
                    $("#CityId").append("<option value='' selected='selected'>select</option>")
                        .removeAttr("disabled");
                }
                console.log(c);
            });
            $(".datepicker").val(" ");
            $(".datepicker").datepicker({
                dateFormat: "dd M yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
            $('input[type=checkbox]').change(function () {
                //var sList = "";
                $('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        sList.push(this.value)
                    }
                });
                $("#hobbies").val(sList);
                console.log(sList);
                sList = [];
            });

            $('#btnCreate').click( function () {
                    var checkedCount = $("input:checked").length;
                    var valid = checkedCount > 0;
                    if (!valid) {
                        $('#validationMessage').html('Select one or more language!');
                    }
                    return valid;
                });
        });
    </script>

}
