﻿@model InterviewOfOneSoftLimited.Models.PersonInfo

@{
    ViewBag.Title = "Delete";
    string nn = "";
}

<h2>Delete Page</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-envelope"></span> Personal Information</h4>
    </div>
    <div class="panel-body">
        <div class="container" style="width:900px">
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.City.CityName)*@
                        City
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City.CityName)
                    </dd>

                    <dt>
                        Country
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        Language Skills
                    </dt>

                    <dd>
                        @*@{ nn = ""; }*@
                        @foreach (var i in Model.LanguageDetails)
                        {
                            nn += i.Language.LanguageName;
                            nn += "  ,";
                        }
                        @nn.Remove(nn.Length - 1, 1)
                    </dd>
                    <dt>
                        Date Of Birth
                    </dt>

                    <dd>
                        @string.Format("{0:dd MMM yyyy}", Model.DateOfBirth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Resume)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Resume)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color col-md-offset-2 col-md-10">
                        <div class="col-md-5 pull-right">
                            <a href="@Url.Action("Index")" class="btn btn-default pull-left">Cancel</a>
                        </div>
                        <div class="col-md-5 pull-right">
                            <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                        </div>
                        @*<input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")*@
                    </div>
                }
            </div>

        </div>
        </div>
        <div class="panel-footer"></div>
    </div>

