﻿@model InterviewOfOneSoftLimited.Models.PersonInfo

@{
    ViewBag.Title = "Details";
    string nn = "";
}

<h2>Details Page</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-envelope"></span> Personal Information</h4>
    </div>
    <div class="panel-body">
        <div class="container" style="width:900px">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.City.CityName)*@
                        City
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City.CityName)
                    </dd>

                    <dt>
                        Country
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        Language Skills
                    </dt>

                    <dd>
                        @*@{ nn = ""; }*@
                        @foreach (var i in Model.LanguageDetails)
                        {
                            nn += i.Language.LanguageName;
                            nn += "  ,";
                        }
                        @nn.Remove(nn.Length - 1, 1)
                    </dd>

                    <dt>
                        Date Of Birth
                    </dt>

                    <dd>
                        @string.Format("{0:dd MMM yyyy}", Model.DateOfBirth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Resume)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Resume)
                    </dd>

                </dl>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-5 pull-right">
                    <a href="@Url.Action("Index")" class="btn btn-default pull-left">Cancel</a>
                </div>
                <div class="col-md-5 pull-right">
                    <a href="@Url.Action("Edit")/@Model.PersonId" class="btn btn-info pull-right" id="btnEdit">Edit</a>
                </div>

            </div>

            @*<p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>*@

        </div>
        </div>
        <div class="panel-footer"></div>
    </div>
