﻿@model IEnumerable<InterviewOfOneSoftLimited.Models.PersonInfo>

@{
    ViewBag.Title = "Index";
    string nn = "";
    int serial = 0;
}

<h2>List Page</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create New</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>  Informations</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        Name
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Language Skills
                    </th>
                    <th>
                        Resume
                    </th>
                    <th>
                        Date Of Birth
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{serial +=1;}
                            @serial
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country.CountryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.CityName)
                        </td>
                        <td>
                            @{ nn= ""; }
                            @foreach (var i in item.LanguageDetails)
                            {
                                nn += i.Language.LanguageName;
                                nn += "  ,";
                            }
                            @nn.Remove(nn.Length - 1, 1)
                        </td>
                        <td>
                            <a href="~/Images/@item.Resume" download>@item.Resume <span class="glyphicon glyphicon-download-alt"></span></a>
                        </td>
                        <td>
                             @string.Format("{0:dd MMM yyyy}", item.DateOfBirth)
                        </td>
                        <td>
                            <a href="@Url.Action("Details")/@item.PersonId" class="btn btn-xs" style="background-color:Highlight;color:white"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="@Url.Action("Edit")/@item.PersonId" class="btn btn-xs" style="background-color:forestgreen;color:white"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="@Url.Action("Delete")/@item.PersonId" class="btn btn-xs" style="background-color:red;color:white"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">

    </div>
</div>

